<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserNotificationUsageDescription</key>
	<string>İngilizce Pro her gün pratik yapmanız için size bildirimler göndermek için izin istiyor.</string>
</dict>
</plist>
